<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcsaatchi.gmfit"
    >

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <uses-feature
      android:name="android.hardware.sensor.stepcounter"
      android:required="true"/>

  <uses-feature android:name="android.hardware.location.gps"/>

  <application
      android:name=".architecture.classes.GMFitApplication"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:node="replace">

    <activity
        android:name=".onboarding.activities.SplashActivity"
        android:noHistory="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Status_Or_Action_Bar_Theme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".common.activities.MainActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden|adjustPan"/>

    <activity
        android:name=".onboarding.activities.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Status_Or_Action_Bar_Theme"/>

    <activity
        android:name=".onboarding.activities.SignUpActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden|adjustPan"/>

    <activity
        android:name=".onboarding.activities.SignInActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".onboarding.activities.ForgotPasswordActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".insurance.activities.forgotpassword.ForgotInsurancePasswordActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".insurance.activities.forgotpassword.UpdateInsuranceDetailsActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".onboarding.activities.ResetPasswordActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateVisible"/>

    <activity
        android:name=".profile.activities.TOSActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".profile.activities.ChangePasswordActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".onboarding.activities.AccountVerificationActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Status_Or_Action_Bar_Theme"
        android:windowSoftInputMode="stateVisible|adjustPan"/>

    <activity
        android:name=".profile.activities.EditProfileActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden|adjustResize"/>

    <activity
        android:name=".onboarding.activities.SetupProfileActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden|adjustPan"/>

    <activity
        android:name=".onboarding.activities.MedicalConditionsChoiceActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden|adjustPan"/>

    <activity
        android:name=".common.activities.CustomizeWidgetsAndChartsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".fitness.activities.ArticleDetailsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".nutrition.activities.AddNewMealItemActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".nutrition.activities.AddNewMealOnDateActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".health.activities.AddNewHealthTestPart2Activity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".health.activities.AddNewHealthTestActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".health.activities.CounsellingInformationActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".health.activities.SearchMedicationsActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".health.activities.DaysChoiceListActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".health.activities.AddExistingMedicationActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden|adjustPan"/>

    <activity
        android:name=".nutrition.activities.SpecifyMealAmountActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".nutrition.activities.BarcodeCaptureActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".common.activities.AddNewChartActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".profile.activities.MetaTextsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".profile.activities.MealRemindersActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".common.activities.SlugBreakdownActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".profile.activities.ContactUsListActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".fitness.activities.ActivitiesListActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".profile.activities.AchievementsListActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".fitness.activities.AddActivityDetailsActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".profile.activities.OperationContactDetailsActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.home.UpdatePasswordActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".insurance.activities.reimbursement.ReimbursementSearchFilterActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.reimbursement.ReimbursementEmptyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.reimbursement.SubmitReimbursementActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="adjustPan"/>

    <activity
        android:name=".insurance.activities.reimbursement.ReimbursementTrackActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="adjustPan"/>

    <activity
        android:name=".insurance.activities.reimbursement.ReimbursementDetailsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.approval_request.ApprovalRequestsEmptyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.approval_request.ApprovalRequestsTrackActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="adjustPan"/>

    <activity
        android:name=".insurance.activities.approval_request.SubmitApprovalRequestActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="adjustPan"/>

    <activity
        android:name=".insurance.activities.approval_request.ApprovalRequestDetailsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.chronic.ChronicEmptyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.chronic.ChronicTrackActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.chronic.ChronicDetailsActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.chronic.SubmitChronicActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="adjustPan|stateHidden"/>

    <activity
        android:name=".insurance.activities.inquiry.InquiryEmptyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.inquiry.SubmitInquiryActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".insurance.activities.inquiry.InquiryTrackActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.inquiry.InquiryDetailsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.inquiry.InquiryNotesActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"
        />

    <activity
        android:name=".insurance.activities.chronic.ChronicDeletionActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"
        android:windowSoftInputMode="stateHidden"/>

    <activity
        android:name=".insurance.activities.directory.ClinicDetailsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.directory.DirectorySearchFilterActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <activity
        android:name=".insurance.activities.home.SnapshotActivity"
        android:screenOrientation="portrait"
        android:theme="@style/No_Action_Bar_Theme"/>

    <service android:name=".fitness.pedometer.SensorListener"/>

    <receiver android:name=".common.classes.AlarmReceiver"/>
    <receiver android:name=".fitness.pedometer.BootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

    <activity
        android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:label="@string/app_name"/>

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="36e136351325660be3ac92f428de565fcbdc3033"/>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyClLfg5jnBIui1fjBgywGvNNJxPvjtMzVg"/>

    <!--<meta-data-->
    <!--android:name="com.google.android.geo.API_KEY"-->
    <!--android:value="AIzaSyDzwRq628GqkaxN3cZQoTuAergqlZJms6k"/>-->

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths"/>
    </provider>
  </application>
</manifest>